.Movie{
    background-color:white;    
    display:flex;

    margin-bottom:50px;
    margin-left:10px;
    text-overflow: ellipsis;    
    border: gray ;
    border-style: solid;
    border-width: 1px;
    box-shadow: -10px 19px 38px rgba(83, 83, 83, 0.3), 10px 15px 12px rgba(80,80,80,0.22);
}

.Movie__Column{

    box-sizing:border-box;
    text-overflow: ellipsis;
}ㅛ

.Movie__Column:last-child{
    padding:20px 20px;
    width:60%;
}

.Movie h1{
    font-size:20px;
    font-weight: 600;
}

.Movie .Movie__Genres{
    display: flex;
    flex-wrap:wrap;
    margin-bottom:20px;
}

.Movie__Genres .Movie__Genre{
    margin-right:10px;
    color:#B4B5BD;
}

.Movie .Movie__Synopsis {
    text-overflow: ellipsis;
    color:#B4B5BD;
    overflow: hidden;
    white-space: inherit;
}

.Movie .Movie__Poster{
    width: 50%;
    position: relative;
    box-shadow: -10px 19px 38px rgba(83, 83, 83, 0.3), 10px 15px 12px rgba(80,80,80,0.22);
}
.Movie__Poster .Movie__Img{
    max-width: 100%;
    width: 40em;
    height: auto !important;
    object-fit: cover;
}
.Movie__Poster .Movie__InnerTitle{
    position: absolute;
    font-size: 1.8em; 
    font-weight: bold;
    color: white;
    bottom:  1em;
    padding: 0 20px;
}


@media screen and (min-width:320px) and (max-width:667px){
    .Movie{
        width:100%;
    }
}

@media screen and (min-width:320px) and (max-width:667px) and (orientation: portrait){
    .Movie{
        width:100%;
        flex-direction: column;
    }
    .Movie__Poster{
        top:0;
        left:0;
        width:100%;
    }
    .Movie__Column{
        width:100%!important;
    }
}